.game-container {
  border: 1px solid;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 5px;
  padding: 1rem;
}

.emote-container {
  display: grid;
  grid-template-columns: repeat(4, 64px);
  grid-gap: 1rem;
}

.emote {
  background-color: transparent;
  border-width: 0;
}

.emote-image,
.emote {
  width: 64px;
  height: 64px;
}

.emote-image[src=""] {
  box-shadow: 1px 1px 1px 1px black;
}
