<div class="game-container">
  <div class="running">
    <h1>
      Encuentra las parejas <span [innerText]="pairsFound"></span>/<span [innerText]="emoteLocations.length"></span>
    </h1>

    <div class="emote-container" *ngFor="let emoteButton of emoteButtons">
      <div class="emote">
        <!-- TODO: Add image for hidden -->
        <img class="emote-image" [src]="emoteButton.wasClicked ? emoteButton.info.location : ''" alt="">
      </div>
    </div>
  </div>

  <div class="status" *ngIf="gameState != 'running'">
    <h1 [innerText]="'Has ' + (gameState == 'won' ? 'ganado' : 'perdido') + '! '"></h1>
  </div>
</div>
